* text=auto eol=lf

*.exe binary
*.dll binary
*.pdb binary
*.lib binary
*.a binary
*.so binary
*.zip binary
*.xz binary
*.tar binary
*.tar.gz binary
*.tgz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.wasm binary
